{% extends 'head.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}

<script>
    function redirect(str) {
        // Extract item ID from the current URL
        var currentUrl = window.location.href;
        var itemId = currentUrl.split('/').pop();

        // Construct the update URL
        var updateUrl = '/item/' + itemId + `/${str}/`;

        window.location.href = updateUrl;
    }
</script>

<style>
    /* Fancy buttons from uiverse.io */
    .item_button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: white;
        font-family: "Montserrat", sans-serif;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border: none;
        width: 25%;
    }

    .item_button:after {
        content: " ";
        width: 0%;
        height: 100%;
        background: #FFD401;
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
    }

    .item_button:hover::after {
        right: auto;
        left: 0;
        width: 100%;
    }

    .item_button span {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 18px 25px;
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: 0.3em;
        z-index: 20;
        transition: all 0.3s ease-in-out;
    }

    .item_button:hover span {
        color: #183153;
        animation: scaleUp 0.3s ease-in-out;
    }

    @keyframes scaleUp {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1);
        }
    }
</style>

<div class="mt-5 w-100 h-100 mx-5 d-flex justify-content-between align-content-center">
    <img src="../media/{{item.image}}" class="w-50" alt="{{ item.name }}" style="height: 50rem;">
    <div class="w-50 my-auto">
        <h1>{{ item.name }}</h1>
        <p class="w-50">Description: {{ item.descriptions }}</p>
        <p>category: {{ item.category }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <form method="post" action="{% url 'update_quantity' item.id 'Add' %}" class="d-flex justify-content-between w-50">
            {% csrf_token %}
            <label for="{{item.id}}_quantity_add">Quantity: </label>
            <input type="number" min="0" max="999" id="{{item.id}}_quantity_add" name="{{item.id}}_quantity_add"
                class="form-control d-block" required />
            <button type="submit" class="item_button" style="color: black; background-color: blanchedalmond;">
                Add
            </button>
        </form>
        <form method="post" action="{% url 'update_quantity' item.id 'Take' %}" class="d-flex justify-content-between w-50">
            {% csrf_token %}
            <label for="{{item.id}}_quantity_take">Quantity: </label>
            <input type="number" min="0" max="{{item.quantity}}" id="{{item.id}}_quantity_take" name="{{item.id}}_quantity_take"
                class="form-control d-block" required />
            <button type="submit" class="item_button" style="color: black; background-color: burlywood;">
                Take
            </button>
        </form>
        {% if super_user %}
        <div class="d-flex w-50 justify-content-between mt-3">
            <button type="button" class="item_button" style="background: blue;"
                onclick="redirect('update')">Update</button>
            <button type="button" class="item_button" style="background: red;"
                onclick="redirect('delete')">Delete</button>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
